



.cont-form {
  background-size: cover;
  display: flex;
  padding: 60px;
  width: 60vh;
  border: 2px solid black;
  border-radius: 30px;
  margin: 0 auto;
  background-image: url(assets/tomoko-uji-eriuKJwcdjI-unsplash.jpg);
  
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inp {
  display: grid;
}



.header .logo {
  cursor: pointer;
}

.navbar-brand {
  height: 100px;
  width: auto;
  transition: all 0.3s;
  cursor: pointer;
  margin-left: 100px;
  padding: 0 60px;
}



.cont-home{
  background-image: url(assets/tomoko-uji-eriuKJwcdjI-unsplash.jpg);
  
}
.Carousel{
  display: flex;
  align-items: center;
  justify-content: center;
}